# wifi connection service
type mac-update, domain;
type mac-update_exec, exec_type, file_type;

# Started by logwrapper in init
domain_auto_trans(init, mac-update_exec, mac-update)
allow mac-update devpts:chr_file { read write };

# allow /data/misc/wifi access for firmware files
allow mac-update wifi_data_file:dir w_dir_perms;
allow mac-update wifi_data_file:file create_file_perms;
